<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Nâng cấp tài khoản</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Tóm tắt đơn hàng -->
  <div class="section">
    <h2>Tóm tắt đơn hàng</h2>

    <div class="order-info">
      <p class="note">Bạn đang chọn nâng cấp</p>
      <div class="row">
        <div>
          Gói
          <span class="highlight">{{order?.OrderDetails?.[0]?.ProductName}}</span>
        </div>
        <div>{{order?.OrderDetails?.[0]?.TotalPrice}}</div>
      </div>
    </div>

    <!-- Nhập mã khuyến mãi -->
    <div class="promo">
      <label>Nhập mã khuyến mãi</label>
      <div class="promo-box">
        <ion-input [(ngModel)]="promoCode" placeholder="Nhập mã"></ion-input>
        <ion-button fill="outline" size="small" (click)="applyPromo()">Áp dụng</ion-button>
      </div>
    </div>

    <div class="thin-divider"></div>

    <!-- Tổng cộng -->
    <div class="row">
      <div>Tổng tiền</div>
      <div>{{order?.TotalAmount}}</div>
    </div>
    <div class="row">
      <div>Khuyến mãi</div>
      <div>{{order?.DiscountAmount}}</div>
    </div>

    <div class="thin-divider"></div>

    <div class="row total">
      <div>Thành tiền</div>
      <div class="total-price">{{order?.TotalAmount}}</div>
    </div>
  </div>

  <!-- Phương thức thanh toán -->
  <div class="section">
    <h2>Phương thức thanh toán</h2>
    <ion-radio-group [(ngModel)]="selectedMethod">
      <ion-item button lines="none" class="payment-option" [class.selected]="selectedMethod === 'VCB'" detail="false">
        <div class="payment-content">
          <div class="payment-icon">
            <ion-icon name="card-outline"></ion-icon>
          </div>
          <div class="payment-text">
            <div class="title">Thẻ ATM Nội địa</div>
            <div class="subtitle">Hỗ trợ tất cả ngân hàng trong nước</div>
          </div>
        </div>
        <ion-radio slot="end" value="VCB"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-radio-group [(ngModel)]="selectedMethod">
      <ion-item button lines="none" class="payment-option" [class.selected]="selectedMethod === 'VC'" detail="false">
        <div class="payment-content">
          <div class="payment-icon">
            <ion-icon name="card-outline"></ion-icon>
          </div>
          <div class="payment-text">
            <div class="title">Thẻ Mastercard</div>
            <div class="subtitle">Hỗ trợ tất cả ngân hàng nước ngoài</div>
          </div>
        </div>
        <ion-radio slot="end" value="VC"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <ion-button expand="block" shape="round" class="pay-btn" (click)="checkout()">
    Thanh toán
  </ion-button>
</ion-content>