<app-header [title]="'order.title' | translate" [showBackButton]="true"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Tóm tắt đơn hàng -->
  <div class="section">
    <h2>{{ 'order.summary.title' | translate }}</h2>

    <div class="order-info">
      <ion-row class="ion-align-items-center">
        <ion-col size="12">
          <span class="note">{{ 'order.summary.note' | translate }}</span>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col size="8">
          {{ 'order.summary.package' | translate }}
          <span class="highlight">{{order?.OrderDetails?.[0]?.ProductName}}</span>
        </ion-col>
        <ion-col size="4" class="ion-text-right">
          <span class="note">{{order?.OrderDetails?.[0]?.TotalPrice | number}}đ</span>
        </ion-col>
      </ion-row>

      <!-- Nhập mã khuyến mãi -->
      <div class="promo">
        <label>{{ 'order.promo.label' | translate }}</label>
        <div class="promo-box">
          <ion-input [(ngModel)]="promoCode" [placeholder]="('order.promo.placeholder' | translate)"></ion-input>
          <ion-button fill="outline" class="promo-btn" size="medium" (click)="applyPromo()">{{ 'order.promo.apply' |
            translate
            }}</ion-button>
        </div>
      </div>

      <div class="total-container">
        <div class="thin-divider"></div>
        <!-- Tổng cộng -->
        <ion-row class="ion-align-items-center ion-padding-vertical">
          <ion-col size="8">
            <span class="note">{{ 'order.totals.total' | translate }}</span>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <span class="note">{{ order?.TotalAmount | number }}đ</span>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-padding-bottom">
          <ion-col size="8">
            {{ 'order.totals.discount' | translate }}
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <span class="note">{{ order?.DiscountAmount | number }}đ</span>
          </ion-col>
        </ion-row>
        <div class="thin-divider"></div>
        <ion-row class="ion-align-items-center ion-padding-vertical">
          <ion-col size="8">
            <span class="note">{{ 'order.totals.payable' | translate }}</span>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <span class="note red">{{order?.TotalAmount | number}}đ</span>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <!-- Phương thức thanh toán -->
  <div class="section">
    <h2>{{ 'order.payment.title' | translate }}</h2>
    <ion-radio-group [(ngModel)]="selectedMethod">
      <div class="payment-grid">
        <button type="button" class="payment-card" [class.selected]="selectedMethod === 'VCB'"
          (click)="selectedMethod='VCB'">
          <ion-radio value="VCB"></ion-radio>
          <img class="payment-image" [src]="'/assets/image/dedit.png'" alt="ATM" />
        </button>
        <button type="button" class="payment-card" [class.selected]="selectedMethod === 'VC'"
          (click)="selectedMethod='VC'">
          <ion-radio value="VC"></ion-radio>
          <img class="payment-image" [src]="'/assets/image/creditcard.png'" alt="Mastercard" />
        </button>
      </div>
    </ion-radio-group>
  </div>

  <button class="gradient-btn" (click)="checkout()">
    {{ 'order.pay' | translate }}
  </button>
</ion-content>