.margin-vertical-10 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.margin-vertical-20 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.margin-vertical-30 {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.margin-horizontal-10 {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.margin-horizontal-20 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.margin-horizontal-30 {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
}

.margin-10 {
    margin: 0.625rem;
}

.margin-20 {
    margin: 1.25rem;
}

.margin-30 {
    margin: 1.875rem;
}

.margin-top-10 {
    margin-top: 0.625rem;
}

.margin-top-20 {
    margin-top: 1.25rem;
}

.margin-top-30 {
    margin-top: 1.875rem;
}

.margin-bottom-10 {
    margin-bottom: 0.625rem;
}

.margin-bottom-20 {
    margin-bottom: 1.25rem;
}

.margin-bottom-30 {
    margin-bottom: 1.875rem;
}

.margin-left-10 {
    margin-left: 0.625rem;
}

.margin-left-20 {
    margin-left: 1.25rem;
}

.margin-left-30 {
    margin-left: 1.875rem;
}

.margin-right-10 {
    margin-right: 0.625rem;
}

.margin-right-20 {
    margin-right: 1.25rem;
}

.margin-right-30 {
    margin-right: 1.875rem;
}


.padding-horizontal-10 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.padding-horizontal-20 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.padding-horizontal-30 {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}

.padding-vertical-10 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.padding-vertical-20 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.padding-vertical-30 {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}

.padding-top-10 {
    padding-top: 0.625rem;
}

.padding-top-20 {
    padding-top: 1.25rem;
}

.padding-top-30 {
    padding-top: 1.875rem;
}

.padding-bottom-10 {
    padding-bottom: 0.625rem;
}

.padding-bottom-20 {
    padding-bottom: 1.25rem;
}

.padding-bottom-30 {
    padding-bottom: 1.875rem;
}

.padding-left-10 {
    padding-left: 0.625rem;
}

.padding-left-20 {
    padding-left: 1.25rem;
}

.padding-left-30 {
    padding-left: 1.875rem;
}

.padding-right-10 {
    padding-right: 0.625rem;
}

.padding-right-20 {
    padding-right: 1.25rem;
}

.padding-right-30 {
    padding-right: 1.875rem;
}

.color-violet {
    color: #130261;
}

.color-blue {
    color: #0b1b3a;
}

.color-stone-500 {
    color: #6b7280;
}

.color-danger {
    color: #DD2A36;
}

.color-pink {
    color: #D42D75;
}

.color-danger-weak {
    color: #991b1b;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #000;
}

.color-gray {
    color: #808080;
}


.color-light-gray {
    color: #545454;
}

.color-light-red {
    color: #FF2E00;
}

.no-background {
    background: none;
    --background: none;
    --border-width: 0;
}

.icon-big {
    font-size: 1.5rem;
}

.icon-medium {
    font-size: 1.125rem;
}

.icon-small {
    font-size: 0.875rem;
}

/* Card content (iOS mode) */
.card-content-ios {
    -webkit-padding-start: 1.25rem;
    padding-inline-start: 0.9375rem;
    -webkit-padding-end: 1.25rem;
    padding-inline-end: 0.9375rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    line-height: 1.4;
}

.fs-30 {
    font-size: 1.875rem;
}

.fs-26 {
    font-size: 1.625rem;
}

.fs-22 {
    font-size: 1.375rem;
}

.fs-18 {
    font-size: 1.125rem;
}

.fs-16 {
    font-size: 1rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-12 {
    font-size: 0.75rem;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-700 {
    font-weight: 700;
}

.font-style-italic {
    font-style: italic;
}

.font-style-normal {
    font-style: normal;
}

.background-white {
    background: #fff;
    --background: #fff;
}

.background-black {
    background: #000;
    --background: #000;
}

.background-gray {
    background: #808080;
    --background: #808080;
}

.background-light-gray {
    background: #d3d3d3;
    --background: #d3d3d3;
}

.background-violet {
    background: #130261;
    --background: #130261;
}

.background-blue {
    background: #0b1b3a;
    --background: #0b1b3a;
}

.background-stone-500 {
    background: #6b7280;
    --background: #6b7280;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}