<div class="container pb-5 mb-5">
  <ion-list class="py-3" lines="none">
    @if(['ios','android'].includes(platform)){
    <ion-item button (click)="submit('camera')">
      <ion-icon slot="start" color="primary" name="camera-outline"></ion-icon>
      <ion-label>{{'TakePhoto'|translate}}</ion-label>
    </ion-item>
    }
    @if(['web','ios','android'].includes(platform)){
    <ion-item button (click)="submit('library')">
      <ion-icon slot="start" color="primary" name="images-outline"></ion-icon>
      <ion-label>{{'ChooseFromLibrary'|translate}}</ion-label>
    </ion-item>
    }
  </ion-list>
</div>