:host {
    /* palette gần với mockup */
    --ink: #0b1b3a;
    /* xanh đậm cho tiêu đề */
    --muted: #6b7280;
    /* xám label */
    --line: #e5e7eb;
    /* divider */
    --cyan-100: #cffafe;

    --pill-green-bg: #d1fae5;
    --pill-green-fg: #10b981;
    --pill-rose-bg: #ffe5e7;
    --pill-rose-fg: #e6526e;

    --card-radius: 16px;
}

ion-header {
    backdrop-filter: blur(12px);
}

.container {
    max-width: 384px;
    /* ~ w-96 */
    margin: 0 auto;
    padding: 12px 16px 24px;
}

.intro {

    /* nằm dưới header */
    .hello {
        margin: 0 0 6px 0;
        color: var(--ink);
        font-size: 16px;

        strong {
            font-weight: 700;
        }
    }

    h1 {
        margin: 0 0 12px 0;
        color: var(--ink);
        font-weight: 700;
        font-size: 28px;
        /* giống text-3xl */
        line-height: 1.3;
    }
}


.sub-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0px;
    background: #fff;
}

.left {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 0px;
    align-items: start;
}

.icon-bubble {
    border-radius: 12px;

    &.pro,
    &.premium {
        background: linear-gradient(225deg, #E32A7A, #A222AC);
    }

    &.super {
        background: linear-gradient(225deg, #E19A88, #6D3476);
    }

    &.default {
        color: #2e6bff;
    }

    .icon-bubble-inner {
        background: #bfcdee;
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
    }
}



.status {
    height: 1.75rem;
    padding: 0.125rem 0.525rem;
    border-radius: 100px;
    align-self: start;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    font-weight: 700;

    &.active {
        background: #1FC765;
        color: #fff;
    }

    &.expired {
        background: var(--pill-rose-bg);
        color: var(--pill-rose-fg);
    }
}

.section-divider {
    height: 1px;
    background: var(--line);
    margin: 14px 0;

    /* ẩn divider sau phần tử cuối cùng */
    &:last-child {
        display: none;
    }
}