ion-header {
  ion-toolbar {
    --background: #fff;
    --color: #000;

    ion-title {
      display: block;
      width: 100%;
      text-align: center;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      padding-inline: 48px; /* chừa chỗ hai bên */
      box-sizing: border-box;
    }

    .title-container {
      flex: 1;
      min-width: 0; /* QUAN TRỌNG */
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;

      * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
      }
    }
  }
}
