<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">Thông tin hội viên</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content [fullscreen]="true">
  <div class="container">
    <!-- Avatar + tên + trạng thái -->
    <section class="hero">
      <div class="avatar-wrap">
        <div class="avatar">
          <img [src]="userInfo().Avatar" alt="Avatar" />
          <div class="overlay"></div>
        </div>
      </div>

      <div class="title-block">
        <h1>{{ userInfo().FullName }}</h1>
        <p>
          Bạn đang sử dụng {{ userInfo().ActiveSubscription?.SubscriptionPlan?.Name }}, thời hạn đến ngày
          {{(userInfo().ActiveSubscription?.EndDate) | date:'dd/MM/yyyy'}}.
        </p>
        <div class="ion-text-center">
          <div class="plan-badge" *ngIf="userInfo().ActiveSubscription?.SubscriptionPlan?.PlanType !== 0; else upgrade">
            <div class="ion-align-items-center">
              <ion-icon name="diamond-outline"></ion-icon>
            </div>
            <div class="badge-text">{{ userInfo().ActiveSubscription?.SubscriptionPlan?.Name }}</div>
          </div>
          <ng-template #upgrade>
            <div class="plan-badge" (click)="openUpgrade()">
              <div class="badge-text">Nâng cấp</div>
            </div>
          </ng-template>
        </div>
      </div>
    </section>

    <!-- Items -->
    <section class="list">
      <app-language></app-language>
      <div class="divider"></div>
      <!-- Email -->
      <div class="row" (click)="openEmail()">
        <div class="icon">
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div class="label">Email</div>
        <div class="value accent">{{ userInfo().Email }}</div>
        <div class="chev">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="divider"></div>

      <!-- Sách đã đọc -->
      <div class="row" (click)="openReadBooks()">
        <div class="icon">
          <ion-icon name="book-outline"></ion-icon>
        </div>
        <div class="label">Sách đã đọc</div>
        <div class="value">{{ totalBookRead}}</div>
        <div class="chev">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="divider"></div>

      <!-- Lịch sử Hỏi Đáp -->
      <div class="row" (click)="openQaHistory()">
        <div class="icon">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
        <div class="label">Lịch sử Hỏi Đáp</div>
        <div class="value">{{ totalHistory}}</div>
        <div class="chev">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="divider"></div>

      <!-- Lịch sử mua gói đọc -->
      <div class="row" (click)="openPurchaseHistory()">
        <div class="icon">
          <ion-icon name="receipt-outline"></ion-icon>
        </div>
        <div class="label">Lịch sử mua gói đọc</div>
        <div class="value"></div>
        <div class="chev">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="divider"></div>

      <!-- Đổi mật khẩu -->
      <div class="row" (click)="openChangePassword()">
        <div class="icon">
          <ion-icon name="key-outline"></ion-icon>
        </div>
        <div class="label">Đổi mật khẩu</div>
        <div class="value"></div>
        <div class="chev">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
      <div class="divider"></div>

      <!-- Đăng xuất -->
      <div class="row danger" (click)="signOut()">
        <div class="icon">
          <ion-icon name="log-out-outline"></ion-icon>
        </div>
        <div class="label">Đăng xuất</div>
        <div class="value"></div>
        <div class="chev">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </section>
  </div>
</ion-content>