<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()" aria-label="Quay lại">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">Lịch sử Hỏi Đáp</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" aria-label="Tùy chọn">
        <ion-icon name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content [fullscreen]="true" class="ion-padding">
  <app-input-chat [placeholder]="'Bạn cần hỏi về vấn đề gì ?'" (sendMessage)="send($event)"></app-input-chat>
  <ng-container *ngIf="lstData && lstData?.length">
    <ion-list class="ion-bg-color-none">
      <div class="row mt-3">
        <ng-container *ngFor="let item of lstData">
          <div class="col-6" (click)="goConversation(item)">
            <div class="qa-card">
              <div class="q">{{ item.Title }}</div>
              <!-- <div class="a">{{ item.answer }}</div> -->
              <div class="t">Ngày tạo: {{ item.CreatedDate | date : 'hh:mm dd/MM/yyyy' }}</div>
              <div class="t">{{ item.CreatedDate | timeago }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-infinite-scroll *ngIf="isLoad" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Đang tải thêm..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  <ng-container *ngIf="!lstData || lstData?.length == 0">
    <!-- de tam neu du lieu ko co se hien thi cai gi -->
  </ng-container>
  <!-- <div class="container">
    <div class="thin-divider"></div>
    <div class="ask-card">
      <div class="placeholder">Bạn cần hỏi về vấn đề gì ?</div>
      <div class="placeholder">Bạn cần hỏi về vấn đề gì ?</div>
      <div class="actions">
        <button class="icon-btn" aria-label="Ghi âm" (click)="voice()">
          <ion-icon name="mic-outline"></ion-icon>
        </button>
        <button class="icon-btn send" aria-label="Gửi câu hỏi" (click)="send()">
          <ion-icon name="send-outline"></ion-icon>
        </button>
      </div>
      <input class="ask-input" [value]="query()" (input)="query.set(($any($event.target).value || '').toString())"
        placeholder="Bạn cần hỏi về vấn đề gì ?" aria-label="Nhập câu hỏi" />
        
    </div>
    <div class="grid">
      <div class="col">
        <div class="qa-card" *ngFor="let item of leftCol()">
          <div class="q">{{ item.question }}</div>
          <div class="a">{{ item.answer }}</div>
          <div class="t">{{ item.time }}</div>
        </div>
      </div>

      <div class="col">
        <div class="qa-card" *ngFor="let item of rightCol()">
          <div class="q">{{ item.question }}</div>
          <div class="a">{{ item.answer }}</div>
          <div class="t">{{ item.time }}</div>
        </div>
      </div>
    </div>
    <div class="hello">
      <span>Xin chào </span><strong>MiddleKien,</strong>
    </div>
  </div> -->
</ion-content>