<app-header [title]="'Lịch sử Hỏi Đáp'" [showBackButton]="true" [templateEnd]="tmpToolbarEnd">
  <ng-template #tmpToolbarEnd>
    <img class="me-3" slot="end" src="../../../../../assets/image/more_vert.png" alt="">
  </ng-template>
</app-header>
<ion-content class="ion-bg-color-white ion-padding">
  <div class="w-100 p-3">
    <app-search-box (valueChange)="send($event)"></app-search-box>
  </div>
  <div class="w-100">
    <ng-container *ngIf="lstData && lstData?.length">
      <ion-list class="ion-bg-color-none">
        <div class="row mt-3">
          <ng-container *ngFor="let item of lstData">
            <div class="col-6 mb-3" (click)="goConversation(item)">
              <div class="qa-card">
                <div class="q text-xuavanay">{{ item.Title }}</div>
                <!-- <div class="t">Ngày tạo: {{ item.CreatedDate | date : 'dd/MM/yyyy' }}</div> -->
                <div class="t">{{ item.CreatedDate | timeago }}</div>
              </div>
            </div>
          </ng-container>
        </div>
      </ion-list>
      <ion-infinite-scroll *ngIf="isLoad" (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent"
          loadingText="Đang tải thêm..."></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ng-container>
    <ng-container *ngIf="!lstData || lstData?.length == 0">

    </ng-container>
  </div>
</ion-content>
<!-- <app-header [title]="'Lịch sử Hỏi Đáp'" [showBackButton]="true"></app-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <app-search-box (valueChange)="send($event)"></app-search-box>
  <ng-container *ngIf="lstData && lstData?.length">
    <ion-list class="ion-bg-color-none">
      <div class="row mt-3">
        <ng-container *ngFor="let item of lstData">
          <div class="col-6 mb-3" (click)="goConversation(item)">
            <div class="qa-card">
              <div class="q text-xuavanay">{{ item.Title }}</div>
              <div class="t">Ngày tạo: {{ item.CreatedDate | date : 'dd/MM/yyyy' }}</div>
              <div class="t">{{ item.CreatedDate | timeago }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-infinite-scroll *ngIf="isLoad" (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent"
        loadingText="Đang tải thêm..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
  <ng-container *ngIf="!lstData || lstData?.length == 0">

  </ng-container>
</ion-content> -->