<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="tab1" href="/tabs/tab1" class="tab-button">
      <ion-icon aria-hidden="true" name="home-outline" class="tab-icon"></ion-icon>
      <ion-label class="tab-label">Tra cứu AI</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" class="tab-button">
      <ion-icon aria-hidden="true" name="square-outline" class="tab-icon"></ion-icon>
      <ion-label class="tab-label">Xưa và Nay</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3" class="tab-button">
      <ion-icon aria-hidden="true" name="globe-outline" class="tab-icon"></ion-icon>
      <ion-label class="tab-label">Sử Địa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4" class="tab-button">
      <ion-icon aria-hidden="true" name="book-outline" class="tab-icon"></ion-icon>
      <ion-label class="tab-label">E-Books</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5" class="tab-button">
      <ion-icon aria-hidden="true" name="person-outline" class="tab-icon"></ion-icon>
      <ion-label class="tab-label">Tài khoản</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="demo" href="/tabs/demo" class="tab-button">
      <ion-icon aria-hidden="true" name="flask-outline" class="tab-icon"></ion-icon>
      <ion-label class="tab-label">Demo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>