<!-- Header -->
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button fill="clear" (click)="goBack()" aria-label="Quay lại">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title class="ion-text-center">Sách đã đọc</ion-title>

        <ion-buttons slot="end">
            <ion-button fill="clear" aria-label="Tùy chọn">
                <ion-icon name="ellipsis-horizontal"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Content -->
<ion-content [fullscreen]="true" class="ion-padding-top">
    <!-- Bộ lọc (Chips) -->
    <div class="chips-container ion-padding-horizontal">
        <ion-chip *ngFor="let cat of categories" [outline]="selectedCategory() !== cat"
            [color]="selectedCategory() === cat ? 'primary' : undefined" (click)="onSelectCategory(cat)">
            <ion-icon *ngIf="cat==='Tất cả'" name="apps-outline"></ion-icon>
            <ion-icon *ngIf="cat==='Tạp chí'" name="newspaper-outline"></ion-icon>
            <ion-icon *ngIf="cat==='Sách'" name="book-outline"></ion-icon>
            <ion-icon *ngIf="cat==='Tập san Sử - Địa'" name="library-outline"></ion-icon>
            <ion-label>{{ cat }}</ion-label>
        </ion-chip>
    </div>

    <ion-list lines="none" class="list-compact">
        <ion-item button detail="false" class="card-row" *ngFor="let item of filteredItems()" (click)="openItem(item)">
            <ion-thumbnail slot="start" class="thumb">
                <img [src]="item.cover" alt="cover" />
            </ion-thumbnail>

            <ion-label class="label-wrap">
                <div class="meta">
                    <ion-chip size="small" color="warning" [outline]="true">
                        <ion-label>
                            {{ item.category === 'Bộ tạp chí' ? 'Bộ tạp chí' : item.category }}
                        </ion-label>
                    </ion-chip>
                </div>

                <h3 class="item-title">
                    {{ item.title }}
                </h3>

                <p class="item-desc">
                    {{ item.description }}
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>