// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: Inter, "Helvetica Neue", sans-serif;
  --ion-font-size: 16px;
}

// Apply Roboto to all Ionic components
// ion-app {
//     font-family: 'Roboto', system-ui, -apple-system, sans-serif;
// }

// ion-content,
// ion-header,
// ion-footer,
// ion-toolbar,
// ion-tab-bar,
// ion-item,
// ion-button,
// ion-label {
//     font-family: 'Roboto', system-ui, -apple-system, sans-serif;
// }

:root {
  --ion-color-transparent: transparent;
  --ion-color-transparent-rgb: 255, 255, 255;
  --ion-color-transparent-contrast: #000000;
  --ion-color-transparent-contrast-rgb: 0, 0, 0;
  --ion-color-transparent-shade: transparent;
  --ion-color-transparent-tint: transparent;
}

.ion-color-transparent {
  --ion-color-base: var(--ion-color-transparent);
  --ion-color-base-rgb: var(--ion-color-transparent-rgb);
  --ion-color-contrast: var(--ion-color-transparent-contrast);
  --ion-color-contrast-rgb: var(--ion-color-transparent-contrast-rgb);
  --ion-color-shade: var(--ion-color-transparent-shade);
  --ion-color-tint: var(--ion-color-transparent-tint);
}