<ion-content class="landing-page" [fullscreen]="true">
  <div class="background-image">
    <img src="../../../../../assets/image/resources/trongdong 1.png" alt="Background" class="background-image" />
  </div>
  <div class="overlay">
    <!-- Logo -->
    <div class="logo-container">
      <img src="../../../../../assets/image/resources/Frame 1707478009.png" alt="Lac Viet" class="logo" />
    </div>

    <swiper-container [slidesPerView]="1" [loop]="true" [pagination]="{ clickable: true }" [autoplay]="{ delay: 3000 }"
      class="landing-swiper">
      <!-- Slide 1 -->
      <swiper-slide>
        <div class="slide-item">
          <img src="../../../../../assets/image/resources/Frame 1707478255.png" alt="Slide 1" />
          <h2 class="title" [innerHTML]="'landing.title' | translate"></h2>
          <p class="subtitle" [innerHTML]="'landing.subtitle' | translate"></p>
        </div>
      </swiper-slide>

      <!-- Slide 2 -->
      <swiper-slide>
        <div class="slide-item">
          <img src="../../../../../assets/image/resources/Bot 2.svg" alt="Slide 2" />
          <h2 class="title" [innerHTML]="'landing.title' | translate"></h2>
          <p class="subtitle" [innerHTML]="'landing.subtitle' | translate"></p>
        </div>
      </swiper-slide>
    </swiper-container>
    <button class="gradient-btn absolute-btn" (click)="start()">{{ 'landing.start' | translate }}</button>
  </div>
</ion-content>