<ion-content class="landing-page ion-padding" fullscreen="true">
  <div class="padding-statusbar"></div>
  <div class="background-image pb-5">
    <!-- Logo -->
    <div class="logo-container ion-padding">
      <img src="../../../../../assets/image/resources/Frame 1707478009.png" alt="Lac Viet" class="logo" />
    </div>

    <swiper-container [init]="false" class="landing-swiper ion-padding" [loop]="true" [pagination]="true"
      autoplay="true">
      <!-- Slide 1 -->
      <swiper-slide>
        <div class="slide-item">
          <img src="../../../../../assets/image/resources/Frame 1707478255.png" alt="Slide 1" />
        </div>
      </swiper-slide>

      <!-- Slide 2 -->
      <swiper-slide>
        <div class="slide-item">
          <img src="../../../../../assets/image/resources/Bot 2.svg" alt="Slide 2" />
        </div>
      </swiper-slide>
    </swiper-container>
    <section class="ion-padding">
      <h2 class="title fs-24 text-center ion-padding-bottom">Kết nối Quá khứ & Hiện tại Chiếu sáng Tương lai</h2>
      <p class="subtitle fs-20 text-center">Connecting the Past and Present Illuminating the Future</p>
    </section>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="transparent">
    <section class="d-flex justify-content-center pb-3">
      <button class="btn-start gradient-btn" (click)="start()">{{ 'landing.start' | translate }}</button>
    </section>
  </ion-toolbar>
</ion-footer>