.landing-page {
    --background: linear-gradient(108.44deg, #6E62FA 23.2%, #BF6FB7 56.82%, #E07C7F 105.11%, #EFD04F 142.7%);
}

.background-image {
    background-image: url('../../../../../assets/image/resources/trongdong 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    padding-top: 1rem;
}

.background-image img {
    width: 100%;
    height: 100%;
    max-width: 380px;
    object-fit: cover;
}

.slide-item img{
    max-width: 240px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    object-fit: contain;
}

swiper-container {
    --swiper-pagination-bullet-inactive-color: var(--ion-text-color-step-800, #cccccc);
    --swiper-pagination-progressbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.25);
    --swiper-scrollbar-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.5);
}

.landing-swiper {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    --swiper-pagination-bottom: 0px;
}

.landing-swiper::part(pagination) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: env(safe-area-inset-bottom, 0);
    --swiper-pagination-color: #fff;
}

swiper-slide {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}


swiper-slide img {
    width: auto;
    max-width: 100%;
    height: 40vh;
    object-fit: contain;
}

.title {
    font-style: italic;
    color: #fff;
    margin: 0;
    font-weight: normal;
}

.subtitle {
    font-weight: 500;
    color: #fff;
}

.btn-start {
    width: 90%;
}