ion-icon.field-icon {
    font-size: 1.375rem;
}

.field-card .eye ion-icon {
    font-size: 1.625rem;
}

ion-checkbox::part(label) {
    white-space: normal;
    overflow-wrap: break-word;
}

.custom-checkbox .label-text {
    margin-right: 0.625rem;
}