<ion-card class="search-card m-0" mode="ios">
  <ion-item lines="none">
    <ion-input placeholder="Bạn cần hỏi về vấn đề gì ?" clear-input="true" inputmode="search" [(ngModel)]="searchText"
      (ionInput)="onValueChange($event)">
    </ion-input>
    <div class="d-flex align-items-center gap-3 justify-content-end">
      <div class="d-flex align-items-center justify-content-center">
        <ion-icon style="font-size: 1.4rem;" color="medium" [name]="isRecording ? 'mic-off-outline' : 'mic-outline'"></ion-icon>
      </div>
      <div class="d-flex align-items-center justify-content-center me-2">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.9639 9.96362L4.70388 9.96362M18.9639 9.96362L1.46298 18.39L4.70388 9.96362M18.9639 9.96362L1.46298 1.53727L4.70388 9.96362"
            [attr.stroke]="'url(#' + svgId + ')'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <defs>
            <linearGradient [attr.id]="svgId" x1="12.4821" y1="3.48181" x2="-0.481567" y2="16.4454"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1C24" />
              <stop offset="1" stop-color="#821EFB" />
            </linearGradient>
          </defs>
        </svg>
      </div>
      <!-- <ion-button fill="clear" (click)="toggleVoiceInput()" [class.recording]="isRecording" class="m-0">
        
      </ion-button> -->
      <!-- <ion-button fill="clear" class="send-button" (click)="onSend()" [disabled]="!searchText" class="m-0">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M18.9639 9.96362L4.70388 9.96362M18.9639 9.96362L1.46298 18.39L4.70388 9.96362M18.9639 9.96362L1.46298 1.53727L4.70388 9.96362"
            [attr.stroke]="'url(#' + svgId + ')'" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <defs>
            <linearGradient [attr.id]="svgId" x1="12.4821" y1="3.48181" x2="-0.481567" y2="16.4454"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#ED1C24" />
              <stop offset="1" stop-color="#821EFB" />
            </linearGradient>
          </defs>
        </svg>
      </ion-button> -->
    </div>
  </ion-item>
</ion-card>