.date-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //margin: 4px 0 10px;
}

.date-text {
    color: #130261;
    /* tím đậm như hình */
    font-size: 1.3rem;
    font-weight: 700;
}

.profile {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    width: 3rem;
    height: 3rem;
}

.chev {
    color: #160A56;
    font-size: 1.5rem;
}