:host {
    --ion-background-color: #ffffff;
}

/* Sources list */
.sources ion-item {
    --padding-start: 12px;
    --min-height: 56px;
    --border-width: 0;
    --border-style: none;
    --border-color: transparent;
    border-radius: 24px;
    backdrop-filter: blur(6px);
    border-bottom: none !important;
    margin-bottom: 0.625rem;
}

.sources ion-item svg {
    flex-shrink: 0;
    margin-top: 4px;
}

.sources h3 {
    font-size: 1.0625rem;
    font-weight: normal;
    margin: 0;
}

.sources p {
    font-size: 0.8125rem;
    color: #130261;
    margin: 0;
}

/* Checkbox styles in Sources list */
.sources ion-checkbox {
    --checkbox-background-checked: #8082EF;
    /* màu nền khi checked */
    --checkmark-color: #ffffff;
    /* màu dấu tích */
    font-size: 1.0625rem;
}

.sources ion-checkbox::part(container) {
    border-color: #8082EF;
    /* viền đồng bộ với màu chủ đạo */
}

.sources ion-checkbox::part(label) {
    margin-left: 6px;
    /* label gần checkbox hơn */
}

.sources .checkbox-label {
    text-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10px;
    display: flex;
    gap: 5px;
}