ion-card {
    ion-card-content {
        h3 {
            margin-bottom: 16px;
            color: var(--ion-color-primary);
        }

        ion-checkbox {
            margin-bottom: 8px;
        }
    }
}